@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,500&family=Raleway:wght@100;200;300;400;600&family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: #f5f5f2;
}
header {
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo-text {
  text-transform: uppercase;
  margin-left: 0.8rem;
  font-size: 24px;
  color: #030026;
  font-weight: 700;
}
.register {
  display: flex;
  justify-content: space-evenly;
}
.register-left {
  flex: 50%;
  padding: 40px;
}
.desc-container {
  text-align: center;
  margin: 0 auto;
}

.title-desc h3 {
  font-weight: 100;
  font-size: 45px;
  color: #000000;
  margin-bottom: 1rem;
}
.title-desc p {
  font-weight: 400;
  font-size: 1.29rem;
  color: #000000;
  opacity: 0.4;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.get-btn {
  padding: 13px 23px;
  background: #053582;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.register-right {
  flex: 50%;
  padding: 40px;
}
.form-container {
  background: #ffffff;
  box-shadow: 3px -5px 40px rgba(205, 205, 212, 0.1);
  border-radius: 20px;
  padding: 30px;
  height: auto;
  /* margin: 0 auto; */
}
.progress-bar {
  width: 100%;
  margin-bottom: 1.5rem;
}
.form-info {
  margin-bottom: 1rem;
}
.form-info p {
  margin-top: 0.8rem;
}
.name-input {
  display: flex;
  gap: 0.5rem;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #e2e2ea;
  border-radius: 10px;
}
::placeholder {
  color: #b5b5be;
  font-size: 14px;
}
.password-container {
  position: relative;
}
.eye {
<<<<<<< HEAD:styles/login.css
  width: 15px;
=======
  width: 20px;
>>>>>>> 2391fc39c677350ba5c20cacbde3e167793105dd:style.css
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
.terms-condition {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #252525;
}
a {
  text-decoration: none;
  /* color: inherit; */
}
.fpassword{
  display: block;
  text-align: right;
}
.account {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account-text {
  margin-left: 2rem;
}

@media (max-width: 1040px) {
  .title-desc h3 {
    font-size: 25px;
  }
}
@media (max-width: 900px) {
  .register {
    flex-direction: column;
  }
  .name-input {
    flex-direction: column;
  }
}
/* @media (max-width: 540px) {

} */
@media (max-width: 400px) {
  .account {
    flex-direction: column;
  }
  .account-text {
    margin-bottom: 1rem;
  }
  .register-right {
    padding: 10px;
  }
  p.terms-condition{
    font-size: 0.8rem;
  }
}
